set relativenumber
set number
set showmode
set hlsearch
set ignorecase smartcase
set visualbell
set noerrorbells

set surround
set easymotion
set commentary

set clipboard+=unnamed
set clipboard+=ideaput

let mapleader = " "

set idearefactormode=keep

nmap <leader>l :action :cursive.repl.actions/load-file<CR>
nmap <leader>R :action :cursive.repl.actions/run-top-sexp<CR>
nmap <leader>gr :action :cursive.repl.actions/jump-to-repl<CR>
nmap <leader>k :action :cursive.actions.paredit/raise<CR>
nmap < :action :cursive.actions.paredit/slurp-backwards<CR>
nmap > :action :cursive.actions.paredit/slurp-forwards<CR>
nmap <leader>n :action :cursive.repl.actions/switch-namespace<CR>
nmap <leader>x :action :cursive.actions.paredit/copy-as-kill<CR>
nmap <leader>r  <Action>(RenameElement)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader> <Action>(GotoNextError)
nmap <S-Space> <Action>(GotoPreviousError)

 
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

